<ng-container>
  <header class="sn-report-whoheader">
    <h2>Vieron mi reporte</h2>
    <p>Personas o empresas que han consultado tu Reporte de Deudas</p>
  </header>
  <table class="sn-report-whotable">
    <thead>
      <th>Persona / Empresa</th>
      <th class="center-text">Útimo Acceso</th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>Caja Municipal de ahorro y crédito de Arequipa</td>
        <td class="center-text">09/05/2018</td>
        <td class="center-text"><button>Ver Reporte</button></td>
      </tr>
    </tbody>
  </table>
</ng-container>
