<div class="bg snt-index">
  <div>
    <div class="float-box index-box">
      <h2>Hola Claudia, <br />
        <span>Bienvenido a Mi Sentinel</span>
      </h2>
      <p>Consulta gratuita e ilimitadamente tu Reporte de Deudas Resumido y accede a tu Reporte de Deudas Detallado,
        una vez
        cada 3 meses. Contiene información de entidades financieras, empresas privadas, organismos del estado y
        empresas de
        servicios.
      </p>
      <div class="traffic-level">
        <h3>Tu semáforo actual es:</h3>
        <div>
          <img src="assets/imagen/semaforos/19.svg" alt="">
          <p>No registra información de deudas</p>
        </div>
      </div>
      <a href="#"> <i class="fas fa-question-circle"></i>
        Conoce cómo tener y mantener tu semáforo en
        verde</a>
      <button class="index-action" routerLink="/app/reporte/index">Ver Mi Reporte</button>
    </div>
  </div>
</div>
