<header class="snt-header">
  <div class="header-wrapper">
    <div class="logo">
      <img src="assets/imagen/logo-sentinel.png" routerLink="/app/inicio" alt="Sentinel Logo">
    </div>
    <div class="nav-actions">
        <nav>
          <ul>
              <li> <a routerLink="/app/inicio" routerLinkActive="active-link"> Inicio </a> </li>
              <li> <a routerLink="/app/beneficios/reporte" routerLinkActive="active-link"> Mi Reporte </a> </li>
              <li> <a routerLink="/app/beneficios/empresa/reporte" routerLinkActive="active-link"> Reportes Personas / Empresas </a> </li>
              <li> <a routerLink="/app/mype" routerLinkActive="active-link"> Para mi Empresa </a> </li>
              <li> <a routerLink="/app/servicios" routerLinkActive="active-link"> Otros Servicios </a> </li>
              <li class="nav-border"> <a routerLink="/app/productos/todos" routerLinkActive="active-link"> Mis Productos </a> </li>
              <li class="nav-no-padding">
                <p> 0 </p>
                <img src="assets/imagen/baseline-shopping_cart-24px.svg" alt="">
              </li>
              <li routerLinkActive="active-link" class="nav-no-padding">
                <img src="assets/imagen/baseline-fullscreen_exit-24px.svg" alt="">
              </li>
          </ul>
        </nav>
    </div>
  </div>
</header>
