<footer class="snt-footer"[ngClass]="{'sticky-footer': page.sticky}">
   <div class="footer-wrapper">
       <nav class="nav-footer-actions">
        <ul>
            <li> <p> © 2017 Sentinel Peru SA - Todos los derechos reservados.  </p> </li>
            <li> <a href=""> Información Legal </a> </li>
            <li> <a href=""> Libro de Reclamaciones </a> </li>
        </ul>
       </nav>
       <div class="social">
          <img src="assets/imagen/footer.jpg">
       </div>
   </div>
</footer>
