<div class="snt-benefits">
  <div class="benfits-bg" style="background-image:url('assets/imagen/fondo.pyme.jpg')">
    <div>
      <div class="description">
        <h2>Sentinel PyME <br />
          <p>Tu negocio crece en tus manos </p>
        </h2>
        <p>Con Sentinel PyME podrás monitorear las variaciones del Reporte de
          Deudas de tus principales Clientes, Proveedores, Trabajadores y de
          tu Empresa. Aprovecha las mejores oportunidades de negocio y
          protege tu inversión:</p>

        <h4>Utiliza Sentinel PyME:</h4>
        <ul class="grid-list">
          <li>
            <p>Antes de dar un crédito. </p>
          </li>
          <li>
            <p> Antes de contratar personal. </p>
          </li>
          <li>
            <p>Para evaluar a un proveedor o cliente. </p>
          </li>
          <li>
            <p>Antes de asociarte con alguien. </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="benefits-table">
    <table>
      <thead>
        <th>
          <p>Beneficios</p>
        </th>
        <th class="mype-th">
          Sentinel mype
        </th>
      </thead>
      <tbody>
        <tr>
          <td>
            Monitoreo de Variaciones de Deudas
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="mype-td">
            DIARIO
          </td>
        </tr>

        <tr>
          <td>
            Alertas por Variaciones en la información
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="mype-td">
            ONLINE
          </td>
        </tr>

        <tr>
          <td>
            Información General
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="mype-td">
            ILIMITADO
          </td>
        </tr>

        <tr>
          <td>
            Consulta Resumida
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="mype-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>


        <tr>
          <td>
            Deuda Total
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="mype-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

        <tr>
          <td>
            Semáforos de los ültimos 24 Meses
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="mype-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

        <tr>
          <td>
            Principales Acreedores
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="mype-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

        <tr>
          <td>
            Alertas por Variaciones en la información
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="mype-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

        <tr>
          <td>
            Detalle de Variaciones
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="mype-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

        <tr>
          <td>
            Posición Histórica
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="mype-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

        <tr>
          <td>
            Gráficos de Deudas
            <i class="fas fa-question-circle"></i>

          </td>
          <td class="mype-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

        <tr>
          <td>
            Avales / Avalistas
            <i class="fas fa-question-circle"></i>

          </td>
          <td class="mype-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

        <tr>
          <td>
            Reporte de Vencidos
            <i class="fas fa-question-circle"></i>

          </td>
          <td class="mype-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

        <tr>
          <td>
            Detalle de Deuda SBS y Microfinancieras
            <i class="fas fa-question-circle"></i>

          </td>
          <td class="mype-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>


        <tr>
          <td>
            Detalle de Rectificaciones SBS
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="mype-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

        <tr>
          <td>
            Detalle de Vencidos
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="mype-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

        <tr>
          <td>
            Comercio Exterior
            <i class="fas fa-question-circle"></i>

          </td>
          <td class="mype-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

        <tr>
          <td>
            Hechos de Importancia

            <i class="fas fa-question-circle"></i>

          </td>
          <td class="mype-td">
            <i class="fas fa-check-circle"></i>
          </td>

        </tr>


        <tr>
          <td>
            <b>Líneas de Crédito
            </b>
            <i class="fas fa-question-circle"></i>

          </td>
          <td class="mype-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
