<div class="snt-benefits">
  <div class="benfits-bg" style="background-image:url('assets/imagen/fondo.terceros.jpg')">
    <div>
      <div class="description">
        <h2>Reporte de Deudas de Personas y Empresas <br /> <p>Toma las mejores decisiones</p> </h2>
        <p>Consulta tu Reportes de Deudas Completo y el de terceros de forma resumida, de manera ilimitada, con Sentinel Premium
          o elige consultar el Reporte de Deudas Completo de Personas y Empresas cuándo necesites:</p>
        <ul>
          <li>
            <p>Alquilar o vender una propiedad. </p>
          </li>
          <li>
            <p> Darle crédito a un cliente. </p>
          </li>
          <li>
            <p> Contratar un proveedor. </p>
          </li>

          <li>
            <p>Prestar dinero. </p>
          </li>

          <li>
            <p>Asociarte en un negocio o empresa. </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="benefits-navbar">
    <ul>
      <li routerLink="/app/beneficios/empresa/reporte" routerLinkActive="active-navtab">
        <p>Consultas Ilimitadas</p>
        <span>Desde S/ 20 por Mes</span>
      </li>
      <li routerLink="/app/beneficios/empresa/detallado" routerLinkActive="active-navtab">
        <p>Reportes de Deudas Detallados</p>
        <span>Desde S/ 10 por Reporte</span>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
<div class="benefits-pre-cart">

  <div class="inline-select">
    <div>
      <h3>Elige el Reporte <br />
        que necesitas</h3>
    </div>
    <div>
      <div class="active">
        <i class="far fa-dot-circle"></i>
          <h4>Reporte de Deudas <br />
            <span>RESUMIDO</span>
          </h4>
      </div>

      <div>
        <i class="far fa-circle"></i>
          <h4>Reporte de Deudas <br />
            <span>DETALLADO</span>
          </h4>
      </div>
    </div>
  </div>

</div>
