
/* Login */

#left-content {
  width: 40%;
  padding-left: 30px;
}

.background-login > .responsive-img {
  width: 15%;
  height: auto;
  position: relative;
  margin: 0;
  top: 8%;
  left: 10%;
  margin-bottom: 80px;
}

 .background-login > .container {
  position: absolute;
  bottom: 45%;
  left: 6%;
}

.background-login {
background-image: url('/assets/imagen/fondowebppp.jpg');
position: fixed;
height: 100%;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.background-login > .container > .box-login {
  background-color: #ffffff;position: relative;top: 140px;
  left: 40px;width: 35%;border-radius: 15px;
     box-shadow: 2px 7px 20px black;



  padding-left: 5%;padding-top: 5%;padding-right: 5%;padding-bottom: 14%;}
 
.background-login > .container > .box-login > .text-information {
text-align: justify;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding-bottom: 15px;
}

.background-login > .container > .box-login > .text-information p {
  font-weight: 300;
  font-size: 14px;
}

.background-login > .container > .box-login > .form-group.password > .form-control {
    outline: none;
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid #ccc;
    right: 25px;
    width: 100%;
    padding: 10px 0;
}

.background-login > .container > .box-login > .form-group.user > .form-control {
  outline: none;
  box-shadow:none !important;
  border: none;
  border-bottom: 1px solid #ccc;
  right: 25px;
      width: 100%;
    padding: 10px 0;
}

.background-login > .container > .box-login > .form-group.user {
  padding-bottom: 20px;
  border-bottom-width: 1px;
  
}

.background-login > .container > .box-login > .form-group .password {
  padding-bottom: 5px;
}

.background-login > .container > .box-login > .forget-password a {
  color: #FD9526;   
}

.background-login > .container > .box-login > .form-check-input {
width: 1.25rem;
height: 1.25rem;
position: relative;
top: 30px;
left: 10px;
}

.background-login .button-standard {
  background-color: #FD9526;
  border-radius: 6px;
    font-size: 16px;
    padding: 10px;
  color: #f2f2f2;
  width: 53%;
  outline: none !important;
  box-shadow:none !important;
  border:2px solid #FD9526;
  font-weight: bold;
  cursor:pointer;
}


.background-login  .button-standard:active {
  background-color: #FFFFFF;
  border-color: #FD9526;
  color: #FD9526;  
  font-weight: bold;
}

.background-login  .button-standard:hover {
  background-color: #FFFFFF;
  border-color: #FD9526;
  color: #FD9526;  
  font-weight: bold;
}

.background-login > .container > .box-login > .login {
  position: absolute;
  width: 68%;
  top: 77%;
} 

.background-login > .container > .box-login > .account {
  position: absolute;
  width: 68%;
  left: 53%;
  top: 77%;
}

.background-login > .container > .box-login > .open-session {
  position: absolute;
  left: 19%;
  bottom: 31%;  
}

.background-login > .container > .box-login > .forget-password {
  position: absolute;
  left: 58%;
  bottom: 34.5%;
}

.background-login > .footer {position: absolute;bottom: 24%;
    left: 9%;color: #f2f2f2;font-weight: bold;}

.background-login > .footer  p {
  font-weight: 400;
    font-size: 13px;
}

.form-check-inline {
  font-size: 12px;
  padding-top: 15px;
}

.form-check-inline input[type="checkbox"] {
  position: relative;
    top: 2px;
}

.form-check-inline a {
  float: right;
  color: #fd9526;
  font-weight: 500;
}