* {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}


.form-group {
  height: 50px;
}

a {
  text-decoration: none;
}

.sticky-footer {
  position: relative !important;
}

.active-link {
  color: #0ebb6b !important;
  border-bottom: 2px solid #0ebb6b;
}

.snt-header {
    width: 100%;
    height: 50px;
    background: white;
    border-bottom: 1px solid whitesmoke;
}
.header-wrapper {
    width: 90%;
    margin: 0 auto;
}
.logo {
   padding: 11px;
   float:left;
}
.logo img {
    width: 135px
}

.nav-actions {
   float: right;
}

.header-wrapper > .nav-actions li {
  display: inline-block;
  padding: 10px;
  clear: both;
  margin-top: -5px;
}

.header-wrapper > .nav-actions li a {
   font-size: 14px;
   padding: 0 7px;
   color: black;
   padding-bottom: 16px;
}
.header-wrapper > .nav-actions li p {
  font-size: 13px;
  color: white;
  background: #a9a7a7;
  padding: 5px 9px;
  border-radius: 50%;
  float: left;
}
.header-wrapper > .nav-actions li img {
  opacity: .5;
  padding-left: 8px;
}
.nav-border {
    border-left: 1px solid #e2e2e2;
}
.nav-no-padding {
    position: relative;
    top: 5px;
}
.snt-footer {
  width: 100%;
  heigth: 50px;
  position: fixed;
  bottom: 0;
  background: white;
  border-top: 1px solid whitesmoke;
}

.footer-wrapper {
  width: 90%;
  margin: 0 auto;
}
.social {
  padding: 11px;
  float: right;
}

.social img {
  width: 135px;
}

.nav-footer-actions {
  float: left;
  padding: 10px;
}

.nav-footer-actions li {
  display: inline-block;
  font-size: 14px;
  padding: 10px;
}

.nav-footer-actions li p{

}

.nav-footer-actions li a{

color: black;
}

.bg {
  width: 100%;
  height: 90%;
}

.snt-index {
  position: fixed;
  top: 50px;
  background-size: cover;
  background-image: url('imagen/fondowebppp.jpg');
  background-repeat: no-repeat;
}


/* index */

.float-box {}

.index-box {
  width: 400px;
  height: 400px;
  margin: 5.3%;
}


.index-box h2 {
  font-weight: bold;
    font-size: 45px;
}

.index-box span {
      font-size: 30px;
    font-weight: 300;
    position: relative;
    top: -20px;
}

.index-box a {
  font-size: 15px;
  line-height: 1.8;
  color: black;
  padding-left: 10px;
  font-weight: 500;
}

.index-box a > img {
      float: left;
}

.index-box p {
    text-align: justify;
    font-size: 15px;
    color: #1d1d1d;
    line-height: 1.4;
    padding-bottom: 5px;
}

.index-flag p {}

.index-flag p:nth-child(1) {
  font-weight:bold;
  font-size:20px;
}

.index-action {
      background: #ff9900;
    padding: 13px 40px;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px 0;
}


.traffic-level {
    width: 93%;
    height: 70px;
    display: flex;
    padding-bottom: 10px;
}

.traffic-level h3 {
      padding: 14px 0px;
    font-size: 22px;
    line-height: .9;
}
.traffic-level > div {
  width: 80%;
  float: right;
}
.traffic-level > div img {
  width: 55px;
  float: left;
  position: relative;
  left: -15px;
  top: 6px;
}
.traffic-level > div p {
    font-weight: 400;
    font-size: 12px;
    padding: 18px;
    text-align: left;
}
/*  Products */

.sn-myproducts {
  width: 90%;
  height: auto;
  margin: 50px auto;
  clear: both;
}


.sn-myproducts > .nav-actions {
  width: 50%;
  margin:  0 auto;
  float: inherit

}


.sn-myproducts > .nav-actions li {
  display: inline-block;
  width: 50%;
  text-align: center;
  border-bottom: 2px solid #f3f3f3;
  padding-bottom: 10px;
}

.sn-myproducts > .nav-actions li p{
    cursor: pointer;
}

.sn-myproducts > .nav-actions li.active {
  border-color: #00a6ff;
}
.sn-myproducts > .nav-actions li.active p {
  color: #00a6ff;
  font-weight: bold;
}

.sn-myproducts .products {
  width: 100%;
  height: auto;
  padding-top: 20px;
}

.sn-myproducts .products > .product {
  display: inline-block;
  background: #f9f9f9;
  width: 31.8%;
  margin: 8px;
  height: 300px;
  box-shadow: 6px -30px 190px 10px inset;
  background-size: cover;
  position: relative;
  background-image:url('imagen/terce.png');
}

.sn-myproducts .products > .product:hover >div  h3, img {
  text-decoration:underline;
  cursor: pointer;
}

.sn-myproducts .products > .product > div h3 {

  float: left;
  padding-left: 15px;
  padding-top: 5px;

      color: white;
    font-size: 17px;
    font-weight: 300;
}

.sn-myproducts .products > .product > div img {
  width: 25px;
  float: right;
  padding-right: 15px;
}

.sn-myproducts .products >  .product > div {
  position: absolute;
    bottom: 0;
    padding: 15px 0;
    width: 100%;
}



/*  reporte */

.sn-report-header{
      width: 100%;
      height: 222px;
      background-size: 100% 100%;
      background: url(imagen/reporte1.jpg);
}

.sn-report-header ul {width: 88%;margin: 0 auto;padding-top: 15px;}
.sn-report-header ul li {display: inline-block; color: white; font-weight: 100; 
font-size: 11px; padding: 0 3px;text-transform:uppercase;}

.sn-report-header ul li.active-route {
  color: #ffa834;
  font-weight: 300;
}

.report-title {
  width: 88%;
  margin: 0 auto;

}

.report-title  header > .title {
  float: left;
  padding-top: 15px;
}

.report-title header > .title h2{
      color: #efefef;
    text-transform: uppercase;
    font-size: 21px;
}
.report-title header > .title h2 span {
      background: #e6963b;
    color: black;
    font-size: 9px;
    padding: 2px 10px;
    border-radius: 10px;
    position: relative;
    top: -3px;
}

.report-title header > .title p {
      color: white;
    font-size: 13px;
    font-weight: 100;
}

.report-title header > .actions {
      float: right;
    width: 18%;
}

.report-title header > .actions p {
      color: white;
    font-size: 15px;
    font-weight: 100;
    text-align: left;
}

.report-title header > .actions button {
      border: 2px solid #e6963b;
    background: none;
    padding: 5px;
    border-radius: 20px;
    width: 91px;
    color: #e6963b;
    font-weight: 500;
    margin: 8px 0;
}