<app-overlay show="active">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <h3 class="text-center mt-0">Ingresar cantidad encontrada</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-7">
                  <input type="number" min="0" class="form-control" id="txtCantidad" placeholder="">
                  <input type="hidden" name="codigo" id="data-sku">
                  <input type="hidden" name="ean" id="data-eanr">
                </div>
                <div class="col-5">
                  <label for="txtCantidad" class="control-label text-left cantidad">Cantidad</label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn-cancelar" data-dismiss="modal">CANCELAR</a>
        <a href="#" class="btn-success" id="btn-agregar-cant">ACEPTAR</a>
      </div>
    </div>
  </div>
</app-overlay>
