<div class="benefits-table">
  <table>
    <thead>
      <th>
        <p>Beneficios</p>
      </th>
      <th class="premium-th">
        <p>Sentinel Premium</p>
      </th>
    </thead>
    <tbody>
      <tr>
        <td>
          <h4>RREPORTES DE DE DEUDAS FLASH ILIMITADOS</h4>
          de Personas y Empresas
          <i class="fas fa-question-circle"></i>
        </td>
        <td class="premium-td">
          ILIMITADO
        </td>
      </tr>

      <tr>
        <td>
          Mi Reporte de Deudas Resumido (DNI/RUC)
          <i class="fas fa-question-circle"></i>
        </td>
        <td class="premium-td">
          <i class="fas fa-check-circle"></i>
        </td>
      </tr>

      <tr>
        <td>
          Mi Reporte Detallado de todas mis deudas
          <i class="fas fa-question-circle"></i>
        </td>
        <td class="premium-td">
          ILIMITADO
        </td>
      </tr>

      <tr>
        <td>
          Mis Líneas de Crédito
              <i class="fas fa-question-circle"></i>
        </td>
        <td class="premium-td">
          <i class="fas fa-check-circle"></i>
        </td>
      </tr>


      <tr>
        <td>
          Principales Indicadores de deudas y riesgo
              <i class="fas fa-question-circle"></i>
        </td>
        <td class="premium-td">
          <i class="fas fa-check-circle"></i>
        </td>
      </tr>

      <tr>
        <td>
          Descarga de Reporte PDF
              <i class="fas fa-question-circle"></i>
        </td>
        <td class="premium-td">
          COMPLETO
        </td>
      </tr>

      <tr>
        <td>
        Mi Score Sentinel
              <i class="fas fa-question-circle"></i>
        </td>
        <td class="premium-td">
          <i class="fas fa-check-circle"></i>
        </td>
      </tr>

      <tr>
        <td>
          Reporte y score de Mis Empresas
              <i class="fas fa-question-circle"></i>
        </td>
        <td class="premium-td">
          <i class="fas fa-check-circle"></i>
        </td>
      </tr>

      <tr>
        <td>
          Mis Alertas de Variación
              <i class="fas fa-question-circle"></i>
        </td>
        <td class="premium-td">
          <i class="fas fa-check-circle"></i>
        </td>
      </tr>

      <tr>
        <td>
          Reporte de Deudas Resumidos de Personas/Empresas
              <i class="fas fa-question-circle"></i>
        </td>
        <td class="premium-td">
          50% dscto.
        </td>
      </tr>
    </tbody>
  </table>
</div>
