<div class="sn-indexview-lastmonths">
  <div>
    <h3>Semáforos de los últimos 12 meses</h3>
    <p>Haz clic en el mes que deseas consultar</p>
  </div>
  <div>
    <ul>
      <li class="label-gray">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>ENE</p>
        <span>2017</span>
      </li>

      <li class="label-red">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>FEB</p>
        <span>2017</span>
      </li>

      <li class="label-gray">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>ENE</p>
        <span>2017</span>
      </li>

      <li class="label-red">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>FEB</p>
        <span>2017</span>
      </li>

      <li class="label-green">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>MAR</p>
        <span>2017</span>
      </li>

      <li class="label-green">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>MAR</p>
        <span>2017</span>
      </li>

      <li class="label-gray">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>ENE</p>
        <span>2017</span>
      </li>

      <li class="label-red">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>FEB</p>
        <span>2017</span>
      </li>

      <li class="label-green">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>MAR</p>
        <span>2017</span>
      </li>

      <li class="label-gray">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>ENE</p>
        <span>2017</span>
      </li>

      <li class="label-red">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>FEB</p>
        <span>2017</span>
      </li>

      <li class="label-green">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>MAR</p>
        <span>2017</span>
      </li>
    </ul>
  </div>
</div>