<div class="table-report">
  <div>
    <p *ngIf="showHeader">Detalle de la deuda SBS/Microfinanzas</p>
    <table>
      <thead>
        <tr>
          <ng-container>
            <th> <p> -- </p> </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <ng-content #content></ng-content>
      </tbody>
      <tfoot>
        <ng-content #footer></ng-content>
      </tfoot>
    </table>
  </div>
</div>