<div class="sn-indexview-lastmonths">
  <div>
    <h3>Semáforos de los últimos 12 meses</h3>
    <p>Haz clic en el mes que deseas consultar</p>
  </div>
  <div>
    <ul>
      <li class="label-gray">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>ENE</p>
        <span>2017</span>
      </li>

      <li class="label-red">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>FEB</p>
        <span>2017</span>
      </li>

      <li class="label-gray">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>ENE</p>
        <span>2017</span>
      </li>

      <li class="label-red">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>FEB</p>
        <span>2017</span>
      </li>

      <li class="label-green">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>MAR</p>
        <span>2017</span>
      </li>

      <li class="label-green">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>MAR</p>
        <span>2017</span>
      </li>

      <li class="label-gray">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>ENE</p>
        <span>2017</span>
      </li>

      <li class="label-red">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>FEB</p>
        <span>2017</span>
      </li>

      <li class="label-green">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>MAR</p>
        <span>2017</span>
      </li>

      <li class="label-gray">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>ENE</p>
        <span>2017</span>
      </li>

      <li class="label-red">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>FEB</p>
        <span>2017</span>
      </li>

      <li class="label-green">
        <img src="assets/imagen/semaforos/19.svg" alt="">
        <p>MAR</p>
        <span>2017</span>
      </li>
    </ul>
  </div>
</div>
<div class="sn-indexview-credittypes">
  <ul>
    <li>
      <p>Créditos e indicadores:</p>
    </li>
    <li>
      <img src="assets/imagen/baseline-local_car_wash-24px.svg" alt="">
      <p>Crédito Vehicular</p>
    </li>

    <li>
      <img src="assets/imagen/baseline-credit_card-24px.svg" alt="">
      <p>Tarjeta Crédito</p>
    </li>

    <li>
      <img src="assets/imagen/baseline-sim_card-24px.svg" alt="">
      <p>Crédito Hipotecario</p>
    </li>

    <li>
      <img src="assets/imagen/baseline-location_off-24px.svg" alt="">
      <p>No Hábido</p>
    </li>
  </ul>
</div>
<div class="sn-indexview-title">
  <h2>Abril 2018</h2>
  <button>
    <img src="assets/imagen/baseline-file_copy-24px.svg" alt="">
    Ver Reporte Completo PDF</button>
</div>
<div class="sn-indexview-tables">
  <div class="table-report">
    <div>
      <p>Detalle de la deuda SBS/Microfinanzas</p>
      <table>
        <thead>
          <tr>
            <th>
              <p>Entidad</p>
            </th>
            <th>
              <p>Deuda</p>
            </th>
            <th>
              <p>Fecha Inf</p>
            </th>
            <th>
              <p>Calif</p>
            </th>
            <th>
              <p>Días Venc</p>
            </th>
            <th>
              <p>Disc</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Bashi Corp.</p>
            </td>
            <td>
              <p>660.66</p>
            </td>
            <td>
              <p>31/08/14</p>
            </td>
            <td>
              <p>Calif</p>
            </td>
            <td>
              <p class="label-green">NOR</p>
            </td>
            <td></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>
              <p>Total</p>
            </td>
            <td>
              <p>976.56</p>
            </td>
            <td colspan="4">
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="table-report">
    <div>
      <p>Utilización de líneas de crédito</p>
      <table>
        <thead>
          <tr>
            <th>
              <p>Instituciones</p>
            </th>
            <th>
              <p>**</p>
            </th>
            <th>
              <p>Línea
                Aprobada</p>
            </th>
            <th>
              <p>Línea No
                UTilizada</p>
            </th>
            <th>
              <p>Línea
                UTilizada </p>
            </th>
            <th>
              <p>% Uti</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>Bco Ripley Peru</p>
            </td>
            <td>
              <p>TCO</p>
            </td>
            <td>
              <p>2,315.84</p>
            </td>
            <td>
              <p>315.84</p>
            </td>
            <td>
              <p>315.84</p>
            </td>
            <td>
              <p>90%</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Bashi Corp.</p>
            </td>
            <td>
              <p>TCO</p>
            </td>
            <td>
              <p>2,315.84</p>
            </td>
            <td>
              <p>315.84</p>
            </td>
            <td>
              <p>1,315.84</p>
            </td>
            <td>
              <p>90%</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="table-report">
    <div>
      <p>Detalle de otros vencidos</p>
      <table>
        <thead>
          <tr>
            <th>
              <p># Doc</p>
            </th>
            <th>
              <p>Fuente - Acreedor</p>
            </th>
            <th>
              <p>Monto *</p>
            </th>
            <th>
              <p>Días Venc.</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>
              <p>SUNAT</p>
            </td>
            <td>
              <p>431,315.84</p>
            </td>
            <td>
              <p>456</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
