<div class="product">
    <div>
      <h3>Mis Reportes de Deudas</h3>
      <img src="assets/imagen/baseline_error_white_18dp.png" alt="">
    </div>
  </div>

  <div class="product">
    <div>
      <h3>Mis Reportes de Deudas</h3>
      <img src="assets/imagen/baseline_error_white_18dp.png" alt="">
    </div>
  </div>