<div class="sn-report-header">
  <ul>
    <li>Inicio -</li>
    <li>Mis Reportes -</li>
    <li class="active-route">Mi Reporte DNI </li>
  </ul>

  <div class="report-title">
    <header>
      <div class="title">
        <h2>Mi Reporte DNI
          <span>Gratis</span>
        </h2>
        <p>Conoce como te ven las entidades financieras.</p>
      </div>
      <div class="actions">
        <p>¡Compra Sentinel Premium y obtén mucho más!</p>
        <button>Clic Aquí </button>
      </div>
    </header>
  </div>
  </div>
  <div class="report-content">
    <div>
      <div class="profile">
        <div class="image"></div>
        <div class="info">
          <h4>Martinez Lopez Claudia María</h4>
          <p>Fecha Nac. 26/07/1991</p>
          <p>DNI: 45782987</p>
          <button>Ver Reporte RUC</button>
        </div>
      </div>
    </div>
    <div>
      <div class="traffic">
        <p>Información Actualizada al 15/04/2018</p>
        <div class="join-status">
          <div>
            <h4>Tu semáforo actual es:</h4>
            <img src="assets/imagen/semaforos/19.svg  " alt="">
            <p>Tienes deudas con atrasasos significativos.
            </p>
          </div>
          <div>
            <h2> Monto total de deuda:
              <br />
              <span>S/ 976.56</span>
            </h2>
          </div>
        </div>
      </div>
    </div>


    <nav class="sn-report-navbar">
      <ul>
        <li routerLink="/app/reporte/index" routerLinkActive="active-nav-link"> REPORTE </li>
        <li routerLink="/app/reporte/vieron-mi-reporte" routerLinkActive="active-nav-link"> VIERON MI REPORTE </li>
        <li routerLink="/app/reporte/discrepancias" routerLinkActive="active-nav-link"> DISCREPANCIAS </li>
        <li routerLink="/app/reporte/homonimos" routerLinkActive="active-nav-link"> HOMÓNIMOS <span>(37)</span> </li>
        <li routerLink="/app/reporte/entorno" routerLinkActive="active-nav-link">MI ENTORNO </li>
      </ul>
    </nav>

    <section class="sn-report-wrapper">
        <router-outlet></router-outlet>
    </section>
  </div>
