<div class="sn-myproducts">
  <div class="nav-actions">
    <ul>
      <li routerLink="/app/productos/contratados" routerLinkActive="active">
        <p>Mis Productos</p>
      </li>
      <li routerLink="/app/productos/todos" routerLinkActive="active">
        <p>
          Todos los productos
        </p>
      </li>
    </ul>
  </div>
  <div class="products">
    <router-outlet></router-outlet>
  </div>
</div>
