<div class="snt-benefits">
  <div class="benfits-bg">
    <div>
      <div class="description">
        <h2>Sentinel Premium</h2>
        <p>Con Sentinel Premium consulta tu Reporte de Deudas Completo y el de terceros de forma resumida e ilimitada, obtiene
          además beneficios especiales e información detallada adicional.</p>
        <!-- <button (click)="">Adquirir</button> -->
        <button type="button">Adquirir</button>
      </div>
    </div>
  </div>
  <div class="benefits-table">
    <table>
      <thead>
        <th>
          Beneficios
        </th>
        <th class="free-th">
          Sentinel Gratuito
        </th>
        <th class="premium-th">
          Sentinel Premium
        </th>
      </thead>
      <tbody>
        <tr>
          <td>
            Mi Reporte de Deudas Resumido (DNI/RUC)
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="free-td">
            <i class="fas fa-check-circle"></i>
          </td>
          <td class="premium-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

        <tr>
          <td>
            Mi Reporte Detallado de todas mis deudas
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="free-td">
            UNA VEZ CADA 3 MESES
          </td>
          <td class="premium-td">
            ILIMITADO
          </td>
        </tr>

        <tr>
          <td>
            Mis Líneas de Crédito
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="free-td">
            <i class="fas fa-check-circle"></i>
          </td>
          <td class="premium-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>


        <tr>
          <td>
            Principales Indicadores de deudas y riesgo
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="free-td">
            <i class="fas fa-check-circle"></i>
          </td>
          <td class="premium-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

        <tr>
          <td>
            Descarga de Reporte PDF
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="free-td">
            RESUMIDO
          </td>
          <td class="premium-td">
            COMPLETO
          </td>
        </tr>

        <tr>
          <td>
            Reporte de Deudas Resumido de mis Empresas
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="free-td">
            <i class="fas fa-check-circle"></i>
          </td>
          <td class="premium-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

        <tr>
          <td>
            Reporte de Deudas Detallado de mis Empresas
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="free-td">
          </td>
          <td class="premium-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

        <tr>
          <td>
            Mi Score Sentinel
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="free-td">
          </td>
          <td class="premium-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

        <tr>
          <td>
            Mis Alertas por Email y App por variaciones
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="free-td">
          </td>
          <td class="premium-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

        <tr>
          <td>
            <h4>REPORTES DE DEUDAS FLASH</h4>
            de Personas y Empresas
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="free-td">
          </td>
          <td class="premium-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>

        <tr>
          <td>
            Reportes de Deudas Resumidas de Personas/Empresas
            <i class="fas fa-question-circle"></i>
          </td>
          <td class="free-td">
          </td>
          <td class="premium-td">
            <i class="fas fa-check-circle"></i>
          </td>
        </tr>


      </tbody>
    </table>
  </div>
</div>
