<div class="benfits-bg">
  <div>
    <div class="description">
      <h2>Sentinel Premium</h2>
      <p>Con Sentinel Premium consulta tu Reporte de Deudas Completo y el de terceros de forma resumida e ilimitada, obtiene
        además beneficios especiales e información detallada adicional.</p>
      <button>Adquirir</button>
    </div>
  </div>
</div>