<select class="form-control form-control-sm mb-3" id="selectOption" name="">
  <option value="Pendiente">Pendiente</option>
  <option value="Atendido">Atendido</option>
  <option value="Atendido Incompleto">Atendido Incompleto</option>
</select>
