<div class="traffic">
  <p>Información Actualizada al 15/04/2018</p>
  <div class="join-status">
    <div>
      <h4>Tu semáforo actual es:</h4>
      <img src="assets/imagen/semaforos/19.svg  " alt="">
      <p>Tienes deudas con atrasasos significativos.
      </p>
    </div>
    <div>
      <h2> Monto total de deuda:
        <br />
        <span>S/ 976.56</span>
      </h2>
    </div>
  </div>
</div>