<div class="background-login">
  <img class="responsive-img" src="/assets/imagen/logo.png" width="300" height="66">
  <div class="container">
    <form class="box-login">
      <div class="text-information">
        <p>Para conocer su Reporte de Deudas Gratis o para comprar un producto, debe estar registrado. Inicie su sesión o
          cree su cuenta.</p>
      </div>
      <div class="form-group user">
        <img src="/assets/imagen/baseline-account_circle-24px.svg">
        <input id="user" type="text" class="form-control" name="user" placeholder="Usuario (DNI)" required>
      </div>
      <div class="form-group password">
        <img src="/assets/imagen/baseline-vpn_key-24px.svg">
        <input id="password" type="password" class="form-control" name="password" placeholder="Contraseña" minlength="8" maxlength="16" required>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label" for="check1">
          <input type="checkbox" id="check1" class="form-check-input">
          No cerrar sesión
        </label>
        <a href="">Olvidé mi contraseña</a>
      </div>
      <div class="login">
          <button type="button" class="button-standard" (click)="login($event)">Iniciar Sesión</button>
      </div>
      <div class="account">
          <button type="button" class="button-standard">Crear Cuenta</button>
      </div>
    </form>
    <div class="footer">
        <footer> <p>© 2017 Sentinel Perú SA - Todos los derechos reservados</p></footer>
    </div>
  </div>
</div>
