
/* Login */

#left-content {
  width: 40%;
  padding-left: 30px;
}

.background-login > div {
  width: 80%;
  margin: 50px auto;
  position: relative;
}

.background-login .responsive-img {
  width: 200px;
  height: auto;
  position: relative;
  padding-left: 2%;
  padding-bottom: 4%;
  margin-bottom: 20px;
}

.background-login {
background-image: url('/assets/imagen/fondowebppp.jpg');
position: fixed;
height: 100%;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.background-login .container > .box-login {
  background-color: #ffffff;
  position: relative;
  top: 0;
  left: 0;
  width: 28%;
  border-radius: 15px;
  box-shadow: 2px 7px 20px black;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 14%;
}
 
.background-login .container > .box-login > .text-information {
text-align: justify;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding-bottom: 15px;
}

.background-login .container > .box-login > .text-information p {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 20px;
  line-height: 1.6;
}

.background-login .container > .box-login > .form-group.password > .form-control {
    outline: none;
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid #ccc;
    right: 25px;
    width: 100%;
    padding: 10px 35px;
    width: 77%;
}


.background-login .container > .box-login > .form-group.user > .form-control {
  outline: none;
  box-shadow:none !important;
  border: none;
  border-bottom: 1px solid #ccc;
  right: 25px;
  width: 100%;
  padding: 10px 35px;
  width: 77%;
}

.background-login .container > .box-login > .form-group.user img {
  padding-top: 20%;
}

.background-login .container > .box-login > .form-group.password img {
  padding-top: 20%;
}

.background-login .container > .box-login > .forget-password a {
  color: #FD9526;   
}

.background-login .container > .box-login > .form-check-input {
width: 1.25rem;
height: 1.25rem;
position: relative;
top: 30px;
left: 10px;
}

.background-login .button-standard {
  background-color: #FD9526;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px;
  color: #f2f2f2;
  width: 53%;
  outline: none !important;
  box-shadow:none !important;
  border:2px solid #FD9526;
  font-weight: bold;
  cursor:pointer;
}

.background-login  .button-standard:active {
  background-color: #FFFFFF;
  border-color: #FD9526;
  color: #FD9526;  
  font-weight: bold;
}

.background-login  .button-standard:hover {
  background-color: #FFFFFF;
  border-color: #FD9526;
  color: #FD9526;  
  font-weight: bold;
}

.background-login .container > .box-login > .login {
  position: absolute;
  width: 68%;
  top: 77%;
} 

.background-login .container > .box-login > .account {
  position: absolute;
  width: 68%;
  left: 53%;
  top: 77%;
}

.background-login .container > .box-login > .open-session {
  position: absolute;
  left: 19%;
  bottom: 31%;  
}

.background-login .container > .box-login > .forget-password {
  position: absolute;
  left: 58%;
  bottom: 34.5%;
}

.background-login .footer {
    position: relative;
 }

.background-login .footer  p {
  font-weight: 400;
    font-size: 13px;
    color: #f2f2f2;
    font-weight: 500;
    padding: 20px 0
}

.form-check-inline {
  font-size: 12px;
  padding-top: 15px;
}

.form-check-inline input[type="checkbox"] {
  position: relative;
  top: 2px;
}

.form-check-inline a {
  float: right;
  color: #fd9526;
  font-weight: 500;
}

.form-group.user img
{
  position: absolute;
  top: 17%;
}

.form-group.password img
{
  position: absolute;
  top: 29%;
}


/* Home o Index - Shopping */

 .background-shopping {
  background-color: #cccccc;
  height: 860px;
}

.background-shopping > .shopping-menu {
  background-color: #999999;
  position: absolute;
  top: 10%;
  left: 4%;
  right: 4%;
  width: 92%;
  height: 40%;
  padding-top: 5%;
  padding-bottom: 14%;
}

.background-shopping ul 
{
  width: 1120px;
  margin: 0;
  padding-left: 5%;
  padding-top: 15px;
}

.background-shopping ul li {
  display: inline-block; 
  color: #4d4d4d; 
  font-weight: 300;
} 

.background-shopping ul li.active-route {
  color: black;
  font-weight: 450;
}

.background-shopping > .path-shopping {
  position: fixed;
  top: 70px;
  left: 75px;
}

.background-shopping > .path-shopping span {
  font-size: 12px;
}

.background-shopping > .shopping-menu > .list-products {
  position: absolute;
  top: 0;
  width: 71%;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 6%;
  border: 1px solid #cccccc;
}

.background-shopping > .shopping-menu > .list-products h2 {
  color: #0072BE;
  position: absolute;
  top: 45%;
}

.background-shopping > .shopping-menu > .list-products li {
  list-style-type: none;
}

.background-shopping > .shopping-menu > .shopping-summary {
  position: absolute;
  left: 78%;
  top: 8%;
  width: 18%;
  border-bottom: 1px solid #cccccc;
}

.background-shopping > .shopping-menu > .shopping-summary h2 { 
  color: #0072BE;
}

.background-shopping > .shopping-menu > .shopping-items {
  position: fixed;
  left: 72%;
  top: 30%;
  width: 18%;
  padding-bottom: 25px; 
  color: #0072BE;
  border-bottom: 1px solid #cccccc;
}

.background-shopping > .shopping-menu > .validation-code {
  position: fixed;
  left: 72%;
  top: 35%;
  width: 18%; 
}

.background-shopping > .shopping-menu > .validation-code p {
  position: fixed;
  top: 34.5%;
}

.background-shopping > .shopping-menu > .validation-code input {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5px;
  width: 55%;
  font-size: 16px;
  border: 1px solid #cccccc;
}

.background-shopping > .shopping-menu > .seller-code {
  position: fixed;
  left: 72%;
  top: 43%;
  width: 18%; 
}

.background-shopping > .shopping-menu > .seller-code p {
  position: fixed;
  top: 42.5%;
}

.background-shopping > .shopping-menu > .seller-code input {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5px;
  width: 55%;
  font-size: 16px;
  border: 1px solid #cccccc;
}

.background-shopping > .shopping-menu > .total-shopping {
  position: fixed;
  left: 72%;
  top: 60%;
  width: 18%;
  border-top: 1px solid #cccccc;
  padding-top: 15px;
} 

.background-shopping > .shopping-menu > .shopping-proceed {
  position: fixed;
  top: 70%;
  left: 72%;
}

.background-shopping > .shopping-menu > .shopping-proceed > .button-standard {
  background-color: #FD9526;
  border-radius: 6px;
  font-size: 16px;
  padding: 18px;
  color: #f2f2f2;
  width: 100%;
  outline: none !important;
  box-shadow:none !important;
  border:2px solid #FD9526;
  font-weight: bold;
  cursor:pointer;
}

.background-shopping > .shopping-menu > .shopping-proceed > .button-standard:active {
  background-color: #FFFFFF;
  border-color: #FD9526;
  color: #FD9526;  
  font-weight: bold;
}

.background-shopping > .shopping-menu > .shopping-proceed > .button-standard:hover {
  background-color: #FFFFFF;
  border-color: #FD9526;
  color: #FD9526;  
  font-weight: bold;
}

@media (min-width:1280px)
{
  .background-shopping > .shopping-menu {
    background-color: #ffffff;
    position: absolute;
    top: 12%;
  }
  .background-shopping ul li {
    font-size: 14px;
  } 
  
  .background-shopping ul li.active-route {
    font-size: 14px;
  }
}

@media (max-width:480px) {

    /* Login */

    .background-login {
       height: 55%;
       background-position: bottom right;
    }

    .background-login .responsive-img {
      padding-top: 6%;
      padding-left: 11%;
      padding-bottom: 10%;
      width: 35%;
      height: auto;
    }
    
    .background-login .container {
      position: absolute;
      top: 15%;
      left: 10%;
    }

    .background-login .container > .box-login {
      width: 90%;
      padding-bottom: 80%;
    }

    .background-login .container > .box-login > .login {
      position: absolute;
      top: 66%;
      left: 23%;
      width: 100%;
    } 
    
    .background-login .container > .box-login > .account {
      position: absolute;
      top: 80%;
      left: 23%;
      width: 100%;
    }

    .background-login .button-standard {
      font-size: 20px;
      padding: 15px;
      font-weight: bold;
    }

    .background-login .container > .box-login > .form-group.user {
      padding-bottom: 20px;
    }
    
    .background-login .container > .box-login > .form-group .password {
      padding-bottom: 5px;
    }

    .background-login .container > .box-login > .form-group.user img {
      padding-top: 6%;
    }
    
    .background-login .container > .box-login > .form-group.password img {
      padding-top: 6%;
    }

    .background-login .container > .box-login > .form-group.password > .form-control {
      font-size: 15px;
      padding: 15px 35px;
      width: 79%;
    }
  
    .background-login .container > .box-login > .form-group.user > .form-control {
      font-size: 15px;
      padding-bottom: 17px;
      padding-left: 35px;
      width: 79%;
    }
    .background-login .container > .box-login > .form-check-inline {
      font-size: 15px;
      padding-top: 20%; 
      width: 50%;
      height: 35px;
    }
    
    .background-login .container > .box-login > .form-check-inline input[type="checkbox"] {
      position: relative;
      border: 1px;
      right: 15px;
      bottom: 10px;
    }
    
    .background-login .container > .box-login > .form-check-inline a {
      float: right;
      color: #fd9526;
      width: 90%;
      font-size: 16px;
      position: relative;
      left: 45%;
    }

    .background-login .container > .box-login > .form-check-inline > .form-check-label {
      position: relative;
      left: 70%;
      bottom: 80%;
    }

    .background-login .container > .box-login > .form-check-inline > .form-check-label > .form-check-input {
      transform: scale(2.0);
     }

    footer {
     position: relative;
     top: 520px;
    }

    .background-login .footer p {
        color: #4d4d4d;
        padding-left: 39px;
    
    }
}