* {
  font-family: Roboto, sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  outline: none;
  margin: 0;
  padding: 0;
  color: #4f4f4f;
}

.active-link {
  color: #0ebb6b!important;
  border-bottom: 2px solid #0ebb6b;
}

.active-nav-link {
  color: #329bd8!important;
  border-color: #329bd8!important;
}

.bg {
  width: 100%;
  height: 90%;
}

.bg-active {
  background: #f7f7f7!important;
  height: auto;
}

.btn-hover-out:hover {
  background: none;
}

.btn-hover-fill:hover {
  background: none !important;
  border: 2px solid #ff9600 !important;
  color: #ff9600 !important;
}

.grid-list {
  display: grid !important;
}

.grid-list li {
  float: inherit;
}

.center-text {
  text-align: center!important;
}

.form-group {
  height: 50px;
}

.header-wrapper>.nav-actions li {
  display: inline-block;
  clear: both;
  margin-top: -5px;
  padding: 10px;
}

.header-wrapper>.nav-actions li a {
  font-size: 14px;
  color: #000;
  padding: 0 7px 16px;
}

.header-wrapper>.nav-actions li img {
  opacity: .5;
  padding-left: 8px;
}

.header-wrapper>.nav-actions li p {
  font-size: 13px;
  color: #FFF;
  background: #a9a7a7;
  border-radius: 50%;
  float: left;
  padding: 5px 9px;
}

.header-wrapper, .footer-wrapper, .snt-index>div {
  width: 1160px;
  margin: 0 auto;
}

.index-action {
  background: #ff9600;
  border: none;
  color: #FFF;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  margin: 30px 0;
  padding: 13px  25px;
}

.index-box {
  width: 420px;
  height: 400px;
  margin: 5.3% 0;
}

.index-box a {
  font-size: 16px;
  line-height: 1.8;
  color: #037aca;
  padding-left: 10px;
  font-weight: 700;
}
.index-box a  i {
  color: #037aca;
}
.index-box a>img {
  float: left;
}

.index-box h2 {
  font-weight: 700;
  font-size: 45px;
  color: #272727;
}

.index-box p {
  text-align: justify;
  font-size: 15px;
  color: #1d1d1d;
  line-height: 1.4;
  padding-bottom: 5px;
}

.index-box span {
  font-size: 30px;
  font-weight: 300;
  position: relative;
  top: -20px;
}

.index-flag p:nth-child(1) {
  font-weight: 700;
  font-size: 20px;
}

.logo {
  float: left;
  padding: 11px;
}

.logo img, .social img {
  width: 135px;
}

.nav-actions {
  float: right;
}

.nav-border {
  border-left: 1px solid #e2e2e2;
}

.nav-footer-actions {
  float: left;
  padding: 10px;
}

.nav-footer-actions li {
  display: inline-block;
  font-size: 14px;
  padding: 10px;
}

.nav-footer-actions li a {
  color: #000;
}

.nav-no-padding {
  position: relative;
  top: 5px;
}

.report-content {
  width: 1070px;
  height: auto;
  background: #FFF;
  position: relative;
  top: -100px;
  border-radius: 7px;
  margin: 0 auto;
  padding: 0 25px;
}

.report-content .join-status {
  clear: both;
  background: #FFF;
  width: 93%;
  height: 61%;
  border-radius: 3px;
  box-shadow: 0 2px 2px #DCDCDC;
  border: 1px solid #f9f9f9;
  padding: 20px;
}

.report-content .join-status>div {
  width: 39%;
  height: auto;
  float: left;
}

.report-content .join-status>div:nth-child(1) {
  width: 60%;
  border-right: 2px solid #efefef;
}

.report-content .join-status>div:nth-child(1) h4 {
  font-size: 14px;
  font-weight: 500;
  padding: 0 0 10px;
}

.report-content .join-status>div:nth-child(1) img {
  width: 40px;
  float: left;
}

.report-content .join-status>div:nth-child(1) p {
  font-size: 11px;
  width: inherit;
  float: left;
  padding: 8px 10px;
}

.report-content .join-status>div:nth-child(2) h2 {
  font-size: 14px;
  font-weight: 500;
  text-align: right;
}

.report-content .join-status>div:nth-child(2) h2 span {
  font-size: 25px;
  font-weight: 300;
  padding: 9px;
}

.report-content .profile {
  padding: 37px 0;
}

.report-content .profile>.image {
  width: 120px;
  height: 120px;
  background: #cecece;
  border-radius: 50%;
  float: left;
}

.report-content .profile>.info {
  float: left;
  padding: 22px 15px;
}

.report-content .profile>.info button {
  color: #a1a1a1;
  width: 125px;
  border: 2px solid #e7e7e7;
  background: none;
  border-radius: 50px;
  font-size: 11px;
  margin: 7px -2px;
  padding: 7px 10px;
}

.report-content .profile>.info button:hover {
  background: gray;
  color: white;
  cursor: pointer;
}

.report-content .profile>.info h4 {
  font-size: 15px;
  font-weight: 500;
}

.report-content .profile>.info p {
  color: #9f9f9f;
  font-weight: 400;
  font-size: 11px;
  padding: 2px 0;
}

.report-content .sn-report-navbar {
  clear: both;
  width: 100%;
  height: 30px;
  padding-top: 70px;
  text-align: center;
}

.report-content .sn-report-navbar li {
  display: inline-block;
  padding: 10px 6%;
  border-bottom: 2px solid #eaeaea;
  text-decoration: none;
  font-size: 12px;
  color: #333;
  font-weight: 500;
  cursor: pointer;
}

.report-content .sn-report-navbar li>span {
  color: #0068af;
  font-weight: 700;
}

.report-content .traffic {
  height: 73%;
  padding: 20px;
}

.report-content .traffic>p {
  float: right;
  font-size: 11px;
  padding-bottom: 10px;
}

.report-content>div {
  width: 50%;
  height: 150px;
  float: left;
}

.report-content>div:nth-child(2) {
  width: 47%;
  float: right;
}

.report-title {
  width: 1120px;
  margin: 0 auto;
}

.report-title header>.actions {
  float: right;
  width: 18%;
}

.report-title header>.actions button {
  border: 2px solid #e6963b;
  background: none;
  border-radius: 20px;
  width: 91px;
  color: #e6963b;
  font-weight: 500;
  margin: 8px 0;
  padding: 5px;
}

.report-title header>.actions button:hover {
  background: #e6963b;
  color: white;
  cursor: pointer;
}

.report-title header>.actions p {
  color: #FFF;
  font-size: 15px;
  font-weight: 100;
  text-align: left;
}

.report-title header>.title {
  float: left;
  padding-top: 15px;
}

.report-title header>.title h2 {
  color: #efefef;
  text-transform: uppercase;
  font-size: 21px;
}

.report-title header>.title h2 span {
  background: #e6963b;
  color: #000;
  font-size: 9px;
  border-radius: 10px;
  position: relative;
  top: -3px;
  padding: 2px 10px;
}

.report-title header>.title p {
  color: #FFF;
  font-size: 13px;
  font-weight: 100;
}

.sn-context {
  background: #FFF;
  height: auto;
}

.sn-indexview-credittypes {
  box-shadow: 0 2px 2px #DCDCDC;
  border: 1px solid #f9f9f9;
  height: 50px;
  margin: -12px 0;
}

.sn-indexview-credittypes ul li {
  float: left;
  list-style: none;
  opacity: .5;
  padding: 13px;
}

.sn-indexview-credittypes ul li img {
  float: left;
  width: 23px;
}

.sn-indexview-credittypes ul li p {
  font-size: 11px;
  float: right;
  width: 50px;
}

.sn-indexview-credittypes ul li:nth-child(1) {
  font-size: 13px;
  text-align: left;
  width: 80px;
  font-weight: 500;
  opacity: initial;
  padding: 12px 0 0 40px;
}

.sn-indexview-credittypes ul li:nth-child(1) p {
  width: auto;
  font-size: 12px;
}

.sn-indexview-lastmonths {
  width: 100%;
  height: 100px;
  background: none;
  box-shadow: 0 2px 2px #DCDCDC;
  border: 1px solid #f9f9f9;
  margin: 30px 0;
}

.sn-indexview-lastmonths>div {
  width: 30%;
  height: 100%;
  float: left;
}

.sn-indexview-lastmonths>div:nth-child(1) h3 {
  font-size: 14px;
  font-weight: 500;
  padding: 33px 40px 0;
}

.sn-indexview-lastmonths>div:nth-child(1) p {
  font-size: 12px;
  font-weight: 500;
  color: #676767;
  padding: 0 40px;
}

.sn-indexview-lastmonths>div:nth-child(2) {
  width: 70%;
}

.sn-indexview-lastmonths>div:nth-child(2) li {
  display: inline-block;
  text-align: center;
  padding: 17px 10px;
}

.sn-indexview-lastmonths>div:nth-child(2) li img {
  width: 35px;
  padding-bottom: 10px;
}

.sn-indexview-lastmonths>div:nth-child(2) li p {
  font-weight: 600;
  font-size: 12px;
  color: #292929;
  line-height: 0;
}

.sn-indexview-lastmonths>div:nth-child(2) li span {
  line-height: 0;
  font-size: 9px;
  color: #717171;
}

.sn-indexview-lastmonths>div:nth-child(2) ul {
  float: right;
  padding-right: 25px;
}

.sn-indexview-title {
  clear: both;
  padding: 20px 0;
}

.sn-indexview-title button {
  background: none;
  border: 1px solid #c7c7c7;
  border-radius: 50px;
  opacity: .5;
  font-size: 11px;
  padding: 5px 15px;
  line-height: 2;
}

.sn-indexview-title button:hover {
  background: gray;
  color: white;
  cursor: pointer;
}

.sn-indexview-title button img {
  width: 17px;
}

.sn-indexview-title h2 {
  float: left;
  color: #268dca;
  font-size: 20px;
  padding: 4px 20px 10px 0;
}

.sn-myproducts {
  width: 1050px;
  height: auto;
  clear: both;
  margin: 50px auto;
}

.sn-myproducts .products {
  width: 100%;
  height: auto;
  padding-top: 20px;
}

.sn-myproducts .products .product {
  display: inline-block;
  background: #f9f9f9;
  width: 31.8%;
  height: 300px;
  box-shadow: 6px -30px 190px 10px inset;
  background-size: cover;
  position: relative;
  background-image: url(imagen/terce.png);
  margin: 8px;
}

.sn-myproducts .products .product>div {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
}

.sn-myproducts .products .product>div h3 {
  float: left;
  padding-left: 15px;
  padding-top: 5px;
  color: #FFF;
  font-size: 17px;
  font-weight: 300;
}

.sn-myproducts .products .product>div img {
  width: 25px;
  float: right;
  padding-right: 15px;
}

.sn-myproducts .products .product:hover>div h3, img {
  text-decoration: underline;
  cursor: pointer;
}

.sn-myproducts>.nav-actions {
  width: 50%;
  float: inherit;
  margin: 0 auto;
}

.sn-myproducts>.nav-actions li {
  display: inline-block;
  width: 50%;
  text-align: center;
  border-bottom: 2px solid #f3f3f3;
  padding-bottom: 10px;
}

.sn-myproducts>.nav-actions li p {
  cursor: pointer;
}

.sn-myproducts>.nav-actions li.active {
  border-color: #00a6ff;
}

.sn-myproducts>.nav-actions li.active p {
  color: #00a6ff;
  font-weight: 700;
}

.sn-report-header {
  width: 100%;
  height: 222px;
  background-size: 100% 100%;
  background: url(imagen/reporte1.jpg);
}

.sn-report-header ul {
  width: 1120px;
  padding-top: 15px;
  margin: 0 auto;
}

.sn-report-header ul li {
  display: inline-block;
  color: #FFF;
  font-weight: 100;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 3px;
}

.sn-report-header ul li.active-route {
  color: #ffa834;
  font-weight: 300;
}

.sn-report-whoheader {
  padding: 40px 20px;
}

.sn-report-whoheader h2 {
  font-size: 15px;
  font-weight: 500;
  line-height: 2;
}

.sn-report-whoheader p {
  font-size: 12px;
  color: #676767;
}

.sn-report-whotable {
  width: 96%;
  border-collapse: collapse;
  margin: 0 auto;
}

.sn-report-whotable td {
  font-size: 12px;
  background: #e6f1f8;
  font-weight: 500;
  border-color: #e6f1f8;
  padding: 9px 15px;
}

.sn-report-whotable td>button {
  border: 1px solid #328dca;
  background: none;
  color: #328dca;
  font-size: 9px;
  border-radius: 50px;
  width: 66%;
  padding: 6px 0;
  cursor: pointer;
}

.sn-report-whotable td>button:hover {
  background: #328dca;
  color: white;
}

.sn-report-whotable th {
  border-bottom: 2px solid #e6e6e6;
  border-top: 2px solid #e6e6e6;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  color: #328dca;
  padding: 9px 15px;
}

.sn-report-wrapper {
  width: 100%;
  min-height: 400px;
  padding-bottom: 20px;
}

.snt-footer {
  width: 100%;
  heigth: 50px;
  position: fixed;
  bottom: 0;
  background: #FFF;
  border-top: 1px solid #F5F5F5;
}

.snt-header {
  width: 100%;
  height: 50px;
  background: #FFF;
  border-bottom: 1px solid #F5F5F5;
}

.snt-index {
  position: fixed;
  top: 50px;
  background-size: cover;
  background-image: url(imagen/fondowebppp.jpg);
  background-repeat: no-repeat;
}

.social {
  float: right;
  padding: 11px;
}

.sticky-footer {
  position: relative!important;
}

.table-report {
  width: 48%;
  display: inline-block;
  height: auto;
  box-shadow: 0 2px 2px #DCDCDC;
  border: 1px solid #f9f9f9;
  margin: .8%;
}

.table-report>div {
  padding: 0;
}

.table-report>div>p {
  font-weight: 400;
  font-size: 13px;
  padding: 10px;
}

.table-report table {
  width: 100%;
  border-collapse: collapse;
}

.table-report table>tbody td {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  padding: 10px;
}

.table-report table>tbody td p.label-green {
  background: #16bd4e;
  width: min-content;
  color: #FFF;
  border-radius: 3px;
  margin: 0 auto;
  padding: 5px 10px;
}

.table-report table>tfoot {
  background: #deffe9;
}

.table-report table>tfoot td {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding: 10px;
}

.table-report table>thead {
  background: #e6f1f8;
}

.table-report table>thead th {
  font-size: 12px;
  font-weight: 500;
  padding: 10px;
}

.table-report table>thead th:nth-child(1), .table-report table>tbody td:nth-child(1), .table-report table>tfoot td:nth-child(1) {
  text-align: left;
}

.traffic-level {
  width: 93%;
  height: 70px;
  display: flex;
  padding-bottom: 10px;
}

.traffic-level>div {
  width: 80%;
  float: right;
}

.traffic-level>div img {
  width: 55px;
  float: left;
  position: relative;
  left: -15px;
  top: 6px;
}

.traffic-level>div p {
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  padding: 19px;
}

.traffic-level h3 {
  font-size: 22px;
  line-height: .9;
  padding: 14px 0;
}

a {
  text-decoration: none;
}

li.label-gray p, li.label-gray span {
  color: #7d7d7d!important;
}

li.label-green p, li.label-green span {
  color: #18c377!important;
}

li.label-red p, li.label-red span {
  color: #e3144a!important;
}

.snt-benefits {
  width: 100%;
  height: auto;
  /*   padding-bottom: 50px; */
}

.snt-benefits .benfits-bg {
  background-image: url('imagen/fondo.sentinelpremium.jpg');
  background-size: cover;
  min-height: 400px;
}

.snt-benefits .benfits-bg>div {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  height: auto;
}

.snt-benefits .benfits-bg>div>.description {
  width: 55%;
  padding-top: 70px;
  /* float:left; */
}

.snt-benefits .benfits-bg>div>.description h2 {
  font-size: 40px;
  color: #272727;
  line-height: .9;
  font-weight: 900;
}

.snt-benefits .benfits-bg>div>.description h4 {
  font-weight: 600;
  font-size: 19px;
  line-height: 1;
  margin-bottom: -12px;
  padding-top: 5px;
}

.snt-benefits .benfits-bg>div>.description h2>p {
  font-size: 23px;
  font-weight: 400;
  color: #585858;
  padding-top: 5px;
}

.snt-benefits .benfits-bg>div>.description p {
  font-size: 16px;
  padding: 13px 0;
}

.snt-benefits .benfits-bg>div>.description button {
  background: #ff9600;
  border: none;
  color: #FFF;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  margin: 5px 0;
  padding: 12px 40px;
}

.snt-benefits .benfits-bg>div>.description ul {
  padding-top: 15px;
  margin-left: 15px;
  display: inline-block;
}

.snt-benefits .benfits-bg>div>.description ul>li {
  float: left;
  width: 50%;
  list-style-type: disc;
  list-style-position: initial;
  color: #fb9f38;
  font-size: 17px;
  height: 23px;
}

.snt-benefits .benfits-bg>div>.description ul>li p {
  font-size: 15px;
  padding: 5px;
}

.benefits-table {
  width: 1000px;
  margin: 45px auto;
}

.benefits-table>table {
  width: 850px;
  margin: 20px auto;
  border-collapse: collapse;
}

.benefits-table>table thead {}

.benefits-table>table thead th {
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
}

.benefits-table>table thead th:nth-child(1) {
  text-align: left;
}

.benefits-table>table thead .free-th {
  background: #00ae46;
  border: 1px solid #079741;
  color: white !important;
}

.premium-th {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1da67+0,fea546+100 */
  background: #f1da67;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f1da67 0%, #fea546 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f1da67 0%, #fea546 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f1da67 0%, #fea546 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da67', endColorstr='#fea546', GradientType=0);
  /* IE6-9 */
  border-right: 1px solid #deb136;
  border-top: 1px solid #deb136;
  border-bottom: 1px solid #deb136;
  border-left: 1px solid #deb136;
}

.mype-th {
  background: #2c92ea !important;
  color: white !important;
}

.benefits-table>table tbody {}

.benefits-table>table tbody>tr {
  background: #f3f3f3;
}

.benefits-table>table tbody>tr:nth-child(even) {
  background: white;
}

.benefits-table>table tbody>tr td {
  padding: 0px 15px;
  font-size: 14px;
  color: #717171;
  border: 1px solid #e8e8e8;
  text-align: center;
  font-weight: 500;
  position: relative;
}

.benefits-table>table tbody>tr td:nth-child(1) {
  text-align: left;
  padding: 13px 12px;
  font-weight: 400;
  color: #808080;
}

.benefits-table>table tbody>tr td:nth-child(1) i {
      position: absolute;
    right: 7px;
    font-size: 19px;
    top: 12px;
    color: #7b7b7b;
    cursor: pointer;
}

.benefits-table>table tbody>tr td:nth-child(1) i:hover {
  color: #4e4e4e;
}

.benefits-table>table tbody>tr td:nth-child(1) h4 {
  line-height: 1;
  padding: 5px 0 0;
}

.benefits-table>table tbody>tr td:nth-child(1) img {
  float: right;
}

.benefits-table>table tbody>tr td:nth-child(2) {
  color: #00ae46;
  font-weight: 800;
}

.premium-td {
  color: #f99e35 !important;
  font-weight: 800 !important;
}

.premium-td i {
  font-size: 20px;
  color: #f99e35;
}

.free-td {
  color: #00ae46;
  font-weight: 800;
}

.free-td i {
  font-size: 20px;
  color: #00ae46;
}

.mype-td {
  color: #2c92ea !important;
  font-weight: 800;
}

.mype-td i {
  font-size: 20px;
  color: #2c92ea;
}

.benefits-table>table tbody>tr td>img {
  opacity: .3;
  width: 22px
}

.benefits-table>ul {}

.benefits-navbar {
  width: 100%;
  height: 57px;
  border-bottom: 2px solid #f1f1f1;
}

.benefits-navbar ul {
  width: 1000px;
  margin: 30px auto;
}

.benefits-navbar li {
  cursor: pointer;
  list-style: none;
  border-top: 1px solid #f1f1f1;
  border-left: 1px solid #e6e6e6;
  text-align: center;
  border-right: 1px solid #cecece;
  padding: 12.7px 41px;
  border-radius: 15px 15px 0 0;
  display: inline-block;
  background: #f3f3f3;
  font-size: 12px;
  font-weight: 300;
  color: #868686;
}

.benefits-navbar li p {
  font-weight: 600;
  font-size: 15px;
  color: #8c8c8c;
}

li.active-navtab {
  background: white;
}

li.active-navtab p {
  color: #349ed0;
  font-size: 15px;
  font-weight: 500;
}

li.active-navtab span {
  color: #949494;
}

.active-navbar li span {
  font-size: 12px;
  font-weight: 300;
  color: #868686;
}


/* _________ */


.benefits-pre-cart {
    width: 1000px;
    height: 120px;
    margin: -40px auto 0;
    padding: 18px 0 0;
}
.benefits-pre-cart .inline-select {
  width: 83%;
  height: 70%;
  background:#dbecfb;
  padding: 10px;
  margin: 0 auto;
  border-radius:5px;
}
.benefits-pre-cart .inline-select > div {
  width: 30%;
  height: 100%;

}
.benefits-pre-cart .inline-select > div:nth-child(1) {
  float: left;
}
.benefits-pre-cart .inline-select > div:nth-child(1) h3 {
  text-align: left;
  padding: 15px 10px;
  font-weight: 800;
  line-height: 1;
  font-size: 25px;
  color: #3c3c3c;
}
.benefits-pre-cart .inline-select > div:nth-child(2) {
  float: right;
  width: 70%;
}

.benefits-pre-cart .inline-select > div:nth-child(2) > div {
  width: 45%;
  height: 90%;
  display: inline-block;
  background: white;
  border: 1px solid #e0e0e0;
  margin: 3px 13px;
  border-radius: 10px;
  cursor:pointer;
}


.benefits-pre-cart .inline-select > div:nth-child(2) > div:hover{
  background: #f9f9f9;
}

.benefits-pre-cart .inline-select > div:nth-child(2) > div i {
  float:left;
  position: relative; 
  top: 27px;
  left: 25px;
  font-size: 20px;
  color: #bdbdbd;
}

.benefits-pre-cart .inline-select > div:nth-child(2) > div.active i {
      color: #0091d6;
}
.benefits-pre-cart .inline-select > div:nth-child(2) > div h4 {
  float: right;
  padding: 18px 55px 23px 0;
  text-align: left;
  font-weight: 300;
}

.benefits-pre-cart .inline-select > div:nth-child(2) > div h4 span {
  font-weight: 800;
  font-size: 14px;
}