<div class="benefits-table">
  <table>
    <thead>
      <th>
        Beneficios
      </th>
      <th class="mype-th">
        Reportes de Deudas <br />
        RESUMIDOS

      </th>
      <th class="free-th">
        Reportes de Deudas <br />
        DETALLADOS
      </th>
    </thead>
    <tbody>
      <tr>
        <td>
          Mi Reporte de Deudas Resumido (DNI/RUC)
          <i class="fas fa-question-circle"></i>
        </td>
        <td class="mype-td">
          <i class="fas fa-check-circle"></i>
        </td>
        <td class="free-td">
          <i class="fas fa-check-circle"></i>
        </td>
      </tr>


      <tr>
        <td>
          Mi Reporte Detallado de todas mis deudas
          <i class="fas fa-question-circle"></i>
        </td>
        <td class="mype-td">
          UNA VEZ CADA 3 MESES
        </td>
        <td class="free-td">
          ILIMITADO
        </td>
      </tr>

      <tr>
        <td>
          Mis Líneas de Crédito
          <i class="fas fa-question-circle"></i>
        </td>
        <td class="mype-td">
          <i class="fas fa-check-circle"></i>
        </td>
        <td class="free-td">
          <i class="fas fa-check-circle"></i>
        </td>
      </tr>


      <tr>
        <td>
          Principales Indicadores de deudas y riesgo
          <i class="fas fa-question-circle"></i>
        </td>
        <td class="mype-td">
          <i class="fas fa-check-circle"></i>
        </td>
        <td class="free-td">
          <i class="fas fa-check-circle"></i>
        </td>
      </tr>

      <tr>
        <td>
          Descarga de Reporte PDF
          <i class="fas fa-question-circle"></i>
        </td>
        <td class="mype-td">
          RESUMIDO
        </td>
        <td class="free-td">
          COMPLETO
        </td>
      </tr>

      <tr>
        <td>
          Reporte de Deudas Resumido de mis Empresas
          <i class="fas fa-question-circle"></i>
        </td>
        <td class="mype-td">
          <i class="fas fa-check-circle"></i>
        </td>
        <td class="free-td">
          <i class="fas fa-check-circle"></i>
        </td>
      </tr>

      <tr>
        <td>
          Reporte de Deudas Detallado de mis Empresas
          <i class="fas fa-question-circle"></i>
        </td>
        <td class="mype-td">
        </td>
        <td class="free-td">
          <i class="fas fa-check-circle"></i>
        </td>
      </tr>

      <tr>
        <td>
          Mi Score Sentinel
          <i class="fas fa-question-circle"></i>
        </td>
        <td class="mype-td">
        </td>
        <td class="free-td">
          <i class="fas fa-check-circle"></i>
        </td>
      </tr>

      <tr>
        <td>
          Mis Alertas por Email y App por variaciones
          <i class="fas fa-question-circle"></i>
        </td>
        <td class="mype-td">
        </td>
        <td class="free-td">
          <i class="fas fa-check-circle"></i>
        </td>
      </tr>

      <tr>
        <td>
          <h4>REPORTES DE DEUDAS FLASH</h4>
          de Personas y Empresas
          <i class="fas fa-question-circle"></i>
        </td>
        <td class="mype-td">
        </td>
        <td class="free-td">
          <i class="fas fa-check-circle"></i>
        </td>
      </tr>

      <tr>
        <td>
          Reportes de Deudas Resumidas de Personas/Empresas
          <i class="fas fa-question-circle"></i>
        </td>
        <td class="mype-td">
        </td>
        <td class="free-td">
          <i class="fas fa-check-circle"></i>
        </td>
      </tr>


    </tbody>
  </table>
</div>
